#canvasPanel {
	border: 1px solid black;
	border-radius: 9px;
	padding: 5px;
	background-color: #F6FAAC;

	/* http://stackoverflow.com/questions/356809/best-way-to-center-a-div-on-a-page-vertically-and-horizontally */
	position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
#webCanvas {
	border: 1px solid black;
	border-radius: 8px;
	padding: 5px;
	background-color: white;
}

.word {
	font-size: 18px;
	font-family: sans-serif;
	position: absolute;
	display: table-cell;
	vertical-align: middle
	height: 55px;
	border-width: 1px;
	border-style: solid;
	border-radius: 25px;
	padding: 5px;
	text-align: center;
}
.word:hover {
	cursor: pointer;
	border-width: 2px;
}
.definition {
	font-style: italic;
	font-size: 17px;
}

.root {
	font-size: 18px;
	font-family: sans-serif;
	position: absolute;
	display: table-cell;
	vertical-align: middle
	height: 55px;
	border-width: 1px;
	border-style: solid;
	border-radius: 25px;
	padding: 5px;
	text-align: center;
}
.root:hover {
	cursor: not-allowed;
}

.two-roots-ten-words-each-word {
	width: 220px;
}
.two-roots-ten-words-each-root {
	width: 110px;
}
.three-roots-six-words-each-word {
	width: 220px;
}
.three-roots-six-words-each-root {
	width: 110px;
}
.red-theme {
	line-color: #990000;
	background-color: #F0C2C3;
	color: #99080A;
} 
.word.red-theme:hover {
	line-color: #700D0D;
	background-color: #FFE6E6;
	color: #630405;
} 
.purple-theme {
	line-color: #7A0977;
	background-color: #ECABEA;
	color: #540A52;
} 
.word.purple-theme:hover {
	line-color: #630C61;
	background-color: #DBBFDA;
	color: #3B0939;
}
.blue-theme {
	line-color: #053347;
	background-color: #91C5DB;
	color: #055B80;
}
.word.blue-theme:hover {
	line-color: #031F2B;
	background-color: #BADAE8;
	color: #181D1F;
}
#search-span {
	background-color: #B3CEF5;
	color: #0D3369;
	
	font-size: 18px;
	font-family: sans-serif;
	position: absolute;
	display: table-cell;
	height: 55px;
	border-width: 1px;
	border-style: solid;
	border-radius: 25px;
	padding: 5px;
	text-align: center;
	
	/* this is supposed to come from the theme */
	width: 220px;
}
#search {
	background-image: url(magnifying_glass.png);
	background-repeat: no-repeat;
	border-width: 1px;
	
	position: absolute;
	border-style: none;
	padding: 1px;
	padding-left: 10px;
	text-align: center;

	font-size: 18px;
	font-family: sans-serif;
	position: absolute;
	display: table-cell;
	vertical-align: middle;

	background-color: #B3CEF5;
	color: #0D3369;
	
	margin-left: 10px;
	width: 200px;
	height: 25px;
}
#search-definition {
	position: relative;
	top: 7px;
}
